[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
cloudpickle = "*"
pandas = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
pycountry-convert = "*"
xgboost = "*"
datasets = "*"
pandas-stubs = "~=3.0.0"
transformers = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
